.message_alert{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(95, 0, 0, 0.95);
    width: 100%;
    color: white;
    z-index:10;
}

.message_alert p{
    padding:.5rem;
}
